body {
    background: linear-gradient(120deg,#a8c0ff, #eaafc8);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
table { 
  margin-top: 100px;
  margin-left: 220px;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  border-collapse: collapse; 
  border-spacing: 0; 
  word-wrap: break-word;

}
    
td, th {  border: 1 none; height: 30px; }
      
th {
  color: #FFF; font-weight: bold;
  height: 40px;
}
    
td { text-align: center; }


tr td:first-child, tr th:first-child { 
  background: none; 
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  padding-right: 10px;
  width: 180px; 
}

tr:first-child th:nth-child(2) { 
  border-radius: 5px 0 0 0; 
} 

tr:first-child th:last-child { 
  border-radius: 0 5px 0 0; 
}


img{
  width: 120px;
  height: 150px;
}
.image{
  margin-top: -196px;
  margin-left: 870px;

}
.pro{
  margin-top: -10px;
}
p{
  margin-top: 80px;
}
.main{
  margin-top: 300px;
}



.dropbtn {
  background-color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 20px;
  font-size: 14px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: white;
}


.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}


.progress{
	width: 870%;
	height: 3%;
	margin-top: -25px;
}